.product-card {
    background: aliceblue;
    height: 250px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 25px;
}

.product-title {
    color: darkslateblue;
    font-size: 23px;
}

.product-image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}